.subcategory-pane-container {
    width: 290px;
    padding: 10px;
    height: 100%;
    left: 10px;
    position: relative;
    background-color: #1e1e1e;
    user-select: none;
    transition: outline 0.2s ease-in-out;
    transition-delay: 0.4s;

    h3 {
        margin: 0;
    font-family: var(--font-monospace);
    font-weight: 600;
    }

     p {
        font-style: italic;
        margin: 0;
        font-size: 14px;
    font-family: var(--font-monospace);

    }


   
}